@tailwind base;

h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}

@tailwind components;

@tailwind utilities;

/* common css for menu items */
.nav-item {
  @apply block mt-4 text-blue-200 font-bold;
}
.nav-item:hover {
  @apply text-blue-100;
}
.nav-selected {
  @apply bg-blue-800 rounded-lg px-3;
}

@screen lg {
  .nav-item {
    @apply mr-8 inline-block mt-0 text-blue-500;
  }
  .nav-item:hover {
    @apply text-blue-300;
  }
  .nav-selected {
    @apply bg-blue-200;
  }
}


/* css for customer edit form */
.input-customer {
  @apply border border-gray-500 rounded-full inline-block px-2 w-1/6;
  max-width: 156px;
}

.input-customer-wide {
  @apply border border-gray-500 rounded-full inline-block px-2 w-5/6;
  max-width: 790px;
}

.textarea-customer-wide {
  @apply border border-gray-500 rounded-lg inline-block px-2 w-5/6 align-top;
  max-width: 790px;
}

.label-customer {
  @apply block px-3 w-1/6 text-right;
  max-width: 156px;
}

@screen lg {
  .label-customer {
    @apply inline-block;
  }
}
